p {
    display: inline;
    display: block;
    /*display: none; */
}

.flex-container {
    display: flex;
    flex-direction: column;
    /*flex-direction: row;
    flex-direction: column-reverse;
    flex-direction: row-reverse; */
    flex-wrap: wrap;
    background-color: DodgerBlue;
    height: 300px;
    width: 100%;
    justify-content: right;
    justify-content: center;
    /*align-items: flex-end;
    align-items: center; */
}

.flex-container div {
    background-color: #f1f1f1;
    height: 100px;
    width: 50px;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}